# **Python Math**

Python, sayılar üzerinde matematiksel işlemler gerçekleştirmenizi sağlayan kapsamlı bir matematik modülü de dahil olmak üzere, yerleşik bir dizi matematik fonksiyonuna sahiptir.

 min()and` max()fonksiyonları, yinelenebilir bir nesnedeki en düşük veya en yüksek değeri bulmak için kullanılabilir:

 mathPython'da ayrıca matematiksel fonksiyonlar listesini genişleten yerleşik bir modül de bulunmaktadır .

Bunu kullanmak için mathmodülü içe aktarmanız gerekir:

import math

In [1]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [ ]:
#Bu abs()fonksiyon, belirtilen sayının mutlak (pozitif) değerini döndürür:
x = abs(-7.25)

print(x)

In [ ]:
#4'ün 3. kuvvetini (4 * 4 * 4 ile aynı) döndürün:

x = pow(4, 3)

print(x)

In [4]:
import math

x = math.pi

print(round(x,2))

3.14

# **Python JSON**

JSON, veri depolama ve alışverişi için kullanılan bir sözdizimidir.

JSON, JavaScript nesne gösterimiyle yazılmış metindir.

JSON modülünü içe aktarın:

import json

In [ ]:
#JSON'dan Python'a dönüştürme:

import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

In [5]:
#Eğer bir Python nesneniz varsa, bu nesneyi bir JSON dizesine dönüştürmek için ilgili yöntemi kullanabilirsiniz json.dumps().

import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [6]:
#Python nesnelerini JSON dizelerine dönüştürün ve değerleri yazdırın:

import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [7]:
#Geçerli tüm veri türlerini içeren bir Python nesnesini dönüştürün:

import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [8]:
#indentGirinti sayısını tanımlamak için parametreyi kullanın :

json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [9]:
#separatorsVarsayılan ayırıcıyı değiştirmek için bu parametreyi kullanın :

json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

In [10]:
#sort_keysSonucun sıralanıp sıralanmayacağını belirtmek için bu parametreyi kullanın :

json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

# **Python RegEx**

Düzenli ifade (RegEx), bir arama deseni oluşturan karakter dizisidir.

Düzenli ifadeler (regex), bir dizenin belirtilen arama desenini içerip içermediğini kontrol etmek için kullanılabilir.

In [12]:
#Aşağıdaki metin dizisinde "The" ile başlayıp "Spain" ile biten ifadeler olup olmadığını kontrol edin:

import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [13]:
#Tüm maçların listesini yazdırın:

import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [ ]:
#Eşleşme bulunamazsa boş bir liste döndürün:

import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

In [ ]:
#Dizedeki ilk boşluk karakterini arayın:

import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

In [ ]:
#Hiçbir eşleşme bulmayan bir arama yapın:

import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

In [17]:
#Her boşluk karakterinde bölünür:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3005118536.py:5: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

In [ ]:
#Dizeyi yalnızca ilk geçtiği yerde böl:

import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

In [19]:
#Tüm boşluk karakterlerini 9 rakamıyla değiştirin:

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1714375146.py:6: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt)

In [20]:
#İlk 2 örneği değiştirin:

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1431457840.py:6: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt, 2)

In [22]:
#Eşleşen bir nesne döndürecek bir arama yapın:

import re

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [23]:
#İlk eşleşmenin konumunu (başlangıç ​​ve bitiş konumunu) yazdırın.

#Bu düzenli ifade, büyük harf "S" ile başlayan tüm kelimeleri arar:

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [24]:
#Fonksiyona iletilen metni yazdırın:

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [25]:
#Eşleşme bulunan dize bölümünü yazdırın.

#Bu düzenli ifade, büyük harf "S" ile başlayan tüm kelimeleri arar:

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [26]:
import re

txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-2593357401.py:7: SyntaxWarning: invalid escape sequence '\d'
  x = re.findall("\d", txt)

Metakarakterler
Metakarakterler, özel bir anlamı olan karakterlerdir:

Character	Description	Example	Try it
[]	A set of characters	"[a-m]"
\	Signals a special sequence (can also be used to escape special characters)	"\d"
.	Any character (except newline character)	"he..o"
^	Starts with	"^hello"
$	Ends with	"planet$"
*	Zero or more occurrences	"he.*o"
+	One or more occurrences	"he.+o"
?	Zero or one occurrences	"he.?o"
{}	Exactly the specified number of occurrences	"he.{2}o"
|	Either or	"falls|stays"
()	Capture and group
Bayraklar
Normal ifadeler kullanırken kalıba bayraklar ekleyebilirsiniz.

Flag	Shorthand	Description	Try it
re.ASCII	re.A	Returns only ASCII matches
re.DEBUG		Returns debug information
re.DOTALL	re.S	Makes the . character match all characters (including newline character)
re.IGNORECASE	re.I	Case-insensitive matching
re.MULTILINE	re.M	Returns only matches at the beginning of each line
re.NOFLAG		Specifies that no flag is set for this pattern
re.UNICODE	re.U	Returns Unicode matches. This is default from Python 3. For Python 2: use this flag to return only Unicode matches
re.VERBOSE	re.X	Allows whitespaces and comments inside patterns. Makes the pattern more readable
Özel Diziler
Özel bir dizi, \aşağıdaki listede yer alan karakterlerden birinin ardından gelir ve özel bir anlam taşır:

Character	Description	Example	Try it
\A	Returns a match if the specified characters are at the beginning of the string	"\AThe"
\b	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\bain"

r"ain\b"

\B	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\Bain"

r"ain\B"

\d	Returns a match where the string contains digits (numbers from 0-9)	"\d"
\D	Returns a match where the string DOES NOT contain digits	"\D"
\s	Returns a match where the string contains a white space character	"\s"
\S	Returns a match where the string DOES NOT contain a white space character	"\S"
\w	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"
\W	Returns a match where the string DOES NOT contain any word characters	"\W"
\Z	Returns a match if the specified characters are at the end of the string	"Spain\Z"
Setler
[]Küme , özel bir anlam taşıyan ve köşeli parantez içine alınmış karakterlerden oluşan bir kümedir :

Set	Description	Try it
[arn]	Returns a match where one of the specified characters (a, r, or n) is present
[a-n]	Returns a match for any lower case character, alphabetically between a and n
[^arn]	Returns a match for any character EXCEPT a, r, and n
[0123]	Returns a match where any of the specified digits (0, 1, 2, or 3) are present
[0-9]	Returns a match for any digit between 0 and 9
[0-5][0-9]	Returns a match for any two-digit numbers from 00 and 59
[a-zA-Z]	Returns a match for any character alphabetically between a and z, lower case OR upper case
[+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

# **PIP**

Modüller, projenize dahil edebileceğiniz Python kod kütüphaneleridir.

Komut satırında Python'ın betik dizininin bulunduğu konuma gidin ve aşağıdakileri yazın: Yani terminale gidim yazılır

In [28]:
#PIP sürümünü kontrol edin:

#C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip --version

In [ ]:
#"Camelcase" adlı paketi indirin:

#C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip install camelcase

In [ ]:
#"Camelcase" adlı paketi kaldırın:

#C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip uninstall camelcase

In [ ]:
#Yüklü paketlerin listesi:

#C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip list

# **String Formatting**

F-string, bir dizenin seçili bölümlerini biçimlendirmenizi sağlar.

Bir dizeyi f-dizesi olarak belirtmek için, fdize sabitinin önüne bir işaret koymanız yeterlidir, örneğin:

In [ ]:
#Bir f-string oluşturun:

txt = f"The price is 49 dollars"
print(txt)

In [ ]:
#Değişken için bir yer tutucu ekleyin price:

price = 59
txt = f"The price is {price} dollars"
print(txt)

In [ ]:
#Fiyatı 2 ondalık basamaklı olarak gösterin:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

In [ ]:
#Değeri 952 ondalık basamakla gösterin:

txt = f"The price is {95:.2f} dollars"
print(txt)

In [ ]:
#Yer tutucuda matematiksel bir işlem gerçekleştirin ve sonucu döndürün:

txt = f"The price is {20 * 59} dollars"
print(txt)

In [29]:
#Fiyatı göstermeden önce vergileri ekleyin:

price = 59
tax = 0.25
txt = f"The price is {price + (price * tax)} dollars"
print(txt)

The price is 73.75 dollars

In [ ]:
#Fiyat 50'nin üzerindeyse "Pahalı", aksi takdirde "Ucuz" yazın:

price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

In [30]:
#upper()Bir değeri büyük harflere dönüştürmek için `string` yöntemini kullanın :

fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

In [ ]:
#Ayak birimini metreye dönüştüren bir fonksiyon oluşturun:

def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

In [31]:
#Binlik ayırıcı olarak virgül kullanın:

price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

In [ ]:
txt = f"We have {49:>8} chickens."
print(txt)

In [32]:
#Fiyatı göstermek istediğiniz yere bir yer tutucu ekleyin:

price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [33]:
#Fiyatın iki ondalık basamaklı bir sayı olarak görüntülenmesini sağlayın:

txt = "The price is {:.2f} dollars"

In [35]:
#Ve daha fazla yer tutucu ekleyin:


quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [36]:
#{0}Değerlerin doğru yer tutuculara yerleştirildiğinden emin olmak için indeks numaralarını (süslü parantez içindeki bir sayı) kullanabilirsiniz :

quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [37]:
#Ayrıca, aynı değere birden fazla kez başvurmak istiyorsanız, indeks numarasını kullanın:

age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

In [38]:
#Kullanıcıdan girdi isteyin:

print("Enter your name:")
name = input()
print(f"Hello {name}")

Enter your name:
mehmet
Hello mehmet

In [ ]:
#Kullanıcı giriş alanının önüne bir mesaj ekleyin:

name = input("Enter your name:")
print(f"Hello {name}")

In [39]:
#Çoklu girişler:

name = input("Enter your name:")
print(f"Hello {name}")
fav1 = input("What is your favorite animal:")
fav2 = input("What is your favorite color:")
fav3 = input("What is your favorite number:")
print(f"Do you want a {fav2} {fav1} with {fav3} legs?")

Enter your name:mehmet
Hello mehmet
What is your favorite animal:kedi
What is your favorite color:beyaz
What is your favorite number:5
Do you want a beyaz kedi with 5 legs?

In [ ]:
#Karekökü bulmak için, girilen değerin bir sayıya dönüştürülmesi gerekir:

x = input("Enter a number:")

#find the square root of the number:
y = math.sqrt(float(x))

print(f"The square root of {x} is {y}")

In [ ]:
#Bir numara alana kadar sormaya devam edin:

y = True
while y == True:
  x = input("Enter a number:")
  try:
    x = float(x);
    y = False
  except:
    print("Wrong input, please try again.")

print("Thank you!")