# **Python Numerik Değişkenler**

*int
*float
*complex

In [1]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
#Sayılar arası dönüşüm için kullanılan fonksiyonlar

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [13]:
#Rastgele sayı üretmek amacıyla random fonksiyonu kullanılır. 1-10 arası rast gele 1 sayı üretir
import random

print(random.randrange(1, 10))

5

In [ ]:
# İnteger tipe dönüşüm.
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
#String Tipe Dönüşüm
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# **Python Karakter Değişkeni**

In [15]:
#Tek tırnak yada çift tırnak kullanılabilir.
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
#Değişken bir değere atanabilir ve sonradan çağrılabilir.
a = "Hello"
print(a)

In [16]:
#Metinde istenilen crakter numarasına göre çağrılabilir. Numaralandırma baştan 0 dan başlar boşluklarda bir karakter olarak sayılır.
a = "Hello, World!"
print(a[1])

e

In [ ]:
#for döngüsü ile tüm metni harf harf yazdırabiliriz.
for x in "karpuz":
  print(x)

In [ ]:
#len() fonksiyonu ile metinin karakter sayılarını öğrenebiliriz.
a = "Hello, World!"
print(len(a))

In [ ]:
#in fonksiyonu ile metin içinde bir arama yapabilirim. Sonuç bool değer döner. Varsa True yoksa False
txt = "The best things in life are free!"
print("free" in txt)

In [17]:
# Yada varsa bir kod çalıştırabilirim.
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [18]:
#Not in ile yok muyu sorgulayabilirim.
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
#Liste fonksiyonlarını kullanabilirim.
b = "Hello, World!"
print(b[2:5])

In [22]:
# 0-dan 5 e kadar ama 5 dahil değil
b = "Hello, World!"
print(b[:5])

Hello,

In [20]:
#ikiden başla ikide dahil olmak üzere sonra kadar karakterleri yazdır.
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
#upper() fonksiyonu ile tüm metini büyük harfe dönüştürebilirim.
a = "Hello, World!"
print(a.upper())

In [ ]:
#lower() Fonksiyonu ile tüm metni küçük harfe dönüştürebilirim.
a = "Hello, World!"
print(a.lower())

In [ ]:
#strip() Fonksiyonu ile metinin baştan ve sonran boşluk karakterlerini kaldırabilirim.
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [25]:
#replace() Fonksiyonu ile metin içinden seçtiğim karakteri başka bir karakterle değiştirebilirim. Tümünü değiştirir
a = "Hello, World!"
print(a.replace("o", "a"))

Hella, Warld!

In [28]:
#split() fonksiyonu ile Metini Bölebilirim."nerden bölelim" boşluktan bölmek istersek " " yapmamız yeterli
a = "Hello_World!"
print(a.split("_")) # returns ['Hello', ' World!']

['Hello', 'World!']

In [29]:
#Ayrı Metinleri Birleştirmek İçin
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [31]:
#Metinle integer bir değeri birleştirmek için
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [32]:
#Eklenen integer değeri float olarak eklemek için
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
#Aritmetik işlemle metine ekleme yapmak için
txt = f"The price is {20 * 59} dollars"
print(txt)

In [34]:
#Metin içinde tırnak işaretini kullanmak için
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
#Metni alt satıra bölmek için \n
txt = "Hello\nWorld!"
print(txt)

In [ ]:
#Metnin belirlenen yerinden sonrasonı yazdırmak için.\r
txt = "Hello\rWorld!"
print(txt)

In [ ]:
#Araya bir tab boşluk bırakmak için
txt = "Hello\tWorld!"
print(txt)

In [ ]:
#Aradaki boşluğu kaldırmak için
txt = "Hello \bWorld!"
print(txt)

In [37]:
#capitalize() Fonksiyonu ile ilk harfi büyük sonrakileri küçük hale dönüştürürüz.
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [42]:
#Kaçıncı karakterden başlayıp hangi kaarktere kadar istenilen kelimenin kaç defa geçtiğini sayar.
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple",2,30)
y = txt.count("apples")

print(x)
print(y)

2
1

In [44]:
#Verilen karakterin baştan başlayarak kaçıncı karakterde geçtiğini söyler.
txt = "Hello, welcome to my world."

x = txt.find("m")

print(x)

12

In [45]:
#Metinin bütük harf yada küçük harften oluşup oluşmadığını kontrol etmek için.
txt = "THIS IS NOW!"

x = txt.isupper()
y = txt.islower()

z = txt.isnumeric()#Numara mı?

print(x)
print(y)
print(z)

True
False
False

In [46]:
#title() fonksiyonu ile metnin ilk harfleri büyük harfe dönüşür.
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World