# **Python range**

Dahili range()fonksiyon, genellikle belirli sayıda döngü oluşturmak için kullanılan, değiştirilemez bir sayı dizisi döndürür.

Bu sayı kümesinin kendine özgü bir veri türü vardır ve bu türe range denir

Not: Değiştirilemez, oluşturulduktan sonra değiştirilemeyeceği anlamına gelir.

Bu range()fonksiyon, aşağıdaki sözdizimi kullanılarak 1, 2 veya 3 argümanla çağrılabilir:

**range(start, stop, step)**

In [ ]:
#0 ile 9 arasında bir sayı aralığı oluşturun:
x = range(10)
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#3 ile 9 arasında bir sayı aralığı oluşturun:
x = range(3, 10)
list(x)

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
#3 ile 9 arasında 2 şer artan bir sayı aralığı oluşturun:
x = range(3, 10, 2)
list(x)

[3, 5, 7, 9]

In [ ]:
#Bir aralıktaki her değer üzerinde yineleme yapın:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Aralık nesnesi, değiştirilemez bir sayı dizisini temsil eden bir veri türüdür ve doğrudan görüntülenemez.

#Bu nedenle, aralıklar genellikle görüntülenmek üzere listelere dönüştürülür.

print(list(range(5))) #range 0 dan saymaya başlar
print(list(range(1, 6)))
print(list(range(5, 20, 3)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[5, 8, 11, 14, 17]

In [ ]:
#Diğer dizilerde olduğu gibi, aralıklar da dilimlenerek alt diziler elde edilebilir.
r = range(10)
print(r[2])
print(r[:3])

2
range(0, 3)

Not: İlk yazdırma ifadesi 2. dizindeki değeri döndürürken, ikinci yazdırma ifadesi 0 ile 3. dizinler arasında yeni bir aralık nesnesi döndürür.

In [ ]:
#Bir aralıkta 6 ve 7 rakamlarının olup olmadığını test edin:

print(6 in r)
print(7 in r)

True
True

In [ ]:
#len()Aralıklar , aralıktaki eleman sayısını alma işlevini destekler .
r = range(0, 10, 2)
print(len(r))

5

# **Python Arrays (Diziler)**

Diziler, birden fazla değeri tek bir değişkende saklamak için kullanılır:

In [ ]:
#Araç isimlerini içeren bir dizi oluşturun:
cars = ["Ford", "Volvo", "BMW"]
cars

['Ford', 'Volvo', 'BMW']

In [15]:
#Bir dizi elemanına, indeks numarasını kullanarak erişirsiniz .
x = cars[0]
x

'Ford'

In [ ]:
#Dizideki eleman sayısını döndürün cars :
x = len(cars)

In [ ]:
#Dizideki her öğeyi yazdırın cars:

for x in cars:
  print(x)

In [16]:
#Diziye bir eleman daha ekleyin cars:
cars.append("Honda")

In [ ]:
#Dizinin ikinci elemanını silin cars:

cars.pop(1)

In [ ]:
#"Volvo" değerine sahip öğeyi silin:
# Not: Listenin remove()yöntemi yalnızca belirtilen değerin ilk geçtiği öğeyi kaldırır.
# Yani listenin elemanları benzersiz uniqe değildir.

cars.remove("Volvo")

In [17]:
#Listedeki tüm öğeleri kaldırın fruits:
#Bu clear()yöntem, listedeki tüm öğeleri kaldırır.

fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

In [18]:
#Listeyi kopyala fruits:
#Bu copy()yöntem, belirtilen listenin bir kopyasını döndürür.

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
x

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Bu count()yöntem, belirtilen değere sahip elemanların sayısını döndürür.
#Listede "cherry" değerinin kaç kez geçtiğini döndürün fruits:

fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")

In [21]:
#Bu count()yöntem, belirtilen değere sahip elemanların sayısını döndürür.
#Listede "cherry" değerinin kaç kez geçtiğini döndürün fruits:

fruits = ['apple', 'banana', 'cherry','Cherry']

x = fruits.count("cherry")
x

1

In [23]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
x

2

In [ ]:
#Bu extend()yöntem, belirtilen liste öğelerini (veya herhangi bir yinelenebilir nesneyi) mevcut listenin sonuna ekler.
#carsListeye öğeleri ekleyin fruits:

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

In [25]:
#Listeye bir demet ekleyin fruits:
#Farklı Tür Değişkenleri Birada Tutabilir.

fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [27]:
#Bu index()yöntem, belirtilen değerin ilk geçtiği konumu döndürür.
#"cherry" değerinin konumu nedir?
# Söz dizimi list.index(elmnt, start, end)

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
x

2

In [35]:
#'cherry' kelimesinin konumunu bulun, ancak aramaya 4. konumdan başlayın:

fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'cherry']
x = fruits.index("cherry",1)
print(x)

2

In [36]:
#Bu insert()yöntem, belirtilen değeri belirtilen konuma ekler.
#Söz Dizimi list.insert(pos, elmnt)
#Listeye ikinci öğe olarak "turuncu" değerini ekleyin fruit:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

fruits

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#Bu pop()yöntem, belirtilen konumdaki öğeyi kaldırır.
#Listenin ikinci öğesini kaldırın fruit :

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

In [38]:
#Bu remove()yöntem, belirtilen değere sahip öğenin ilk geçtiği yeri kaldırır.

fruits = ['apple', 'banana', 'cherry','banana']

fruits.remove("banana")

fruits

['apple', 'cherry', 'banana']

In [ ]:
#Listenin sırasını tersine çevirin fruit :

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

In [42]:
#Listeyi alfabetik olarak sıralayın:
#Büyük harf küçük harften önce gelir.
#Önünde boşluk varsa en başta yer alır.

cars = ['Ford', 'BMW', 'Volvo',"bmv"," Bmw"]

cars.sort()
cars

[' Bmw', 'BMW', 'Ford', 'Volvo', 'bmv']