# **Hiyerarşik İndeksler**

In [2]:
import numpy as np
import pandas as pd

In [28]:
#Çoklu indekse sahip bir dataframe oluşturulım
seri=pd.Series(np.random.randn(10),index=[['a','a','a','a','b','b','a','c','c','b'],[1,2,3,5,4,6,8,4,1,1]])
seri

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
b  4    0.023816
   6   -2.333445
a  8    1.300227
c  4    1.050461
   1   -0.963290
b  1    0.166460
dtype: float64

In [29]:
#indeks bilgilerini görmek için
seri.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('a', 5),
            ('b', 4),
            ('b', 6),
            ('a', 8),
            ('c', 4),
            ('c', 1),
            ('b', 1)],
           )

In [30]:
#'a' indekse sahip verileri görüntülemek için

seri['a']

1    0.422047
2   -0.831704
3    0.852379
5    0.500398
8    1.300227
dtype: float64

In [31]:
#Veriyi dilimleme yapmak istersek ilk başta indeksi sıralıyoruz sonra çağırıyoruz
seri = seri.sort_index()
seri['a':'c']

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
   8    1.300227
b  1    0.166460
   4    0.023816
   6   -2.333445
c  1   -0.963290
   4    1.050461
dtype: float64

In [32]:
# a ve c indeksine ait değerleri ekrana yazdırabilmek için

seri[['a','c']]

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
   8    1.300227
c  1   -0.963290
   4    1.050461
dtype: float64

In [33]:
seri.loc[['a','c']]

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
   8    1.300227
c  1   -0.963290
   4    1.050461
dtype: float64

In [34]:
#içdeki indekse ait verileri çağırmak için

seri[:,1]

a    0.422047
b    0.166460
c   -0.963290
dtype: float64

In [35]:
#yada böyle her ana indeksin 1. iç indekse ait değeri görebiliriz. Ama önemli olan hepsinde karşıığı olmalı nan değer olmamalı

seri.loc[:,1]

a    0.422047
b    0.166460
c   -0.963290
dtype: float64

In [36]:
#veriyi tablo halinde görmek istersek. 1. iç indeksin baktığımızda hepsine ait değeri var.

seri.unstack()

          1         2         3         4         5         6         8
a  0.422047 -0.831704  0.852379       NaN  0.500398       NaN  1.300227
b  0.166460       NaN       NaN  0.023816       NaN -2.333445       NaN
c -0.963290       NaN       NaN  1.050461       NaN       NaN       NaN

In [37]:
#Tekrar eski haline döndürmek için

seri.unstack().stack()

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
   8    1.300227
b  1    0.166460
   4    0.023816
   6   -2.333445
c  1   -0.963290
   4    1.050461
dtype: float64

In [51]:
#tablo da çoklu hiyerarşik indeksler

tablo =pd.DataFrame(np.arange(12).reshape(4,3),index=[["A","B","C","A"],[1,2,3,4]],columns=[["say","söz","say"],["mat","ede","mat"]])
tablo

    say söz say
    mat ede mat
A 1   0   1   2
B 2   3   4   5
C 3   6   7   8
A 4   9  10  11

In [53]:
#bu indeklerimizi isimlendirelim

tablo.index.names=["sube","no"]
tablo.columns.names = ["alan","dersler"]

tablo

alan    say söz say
dersler mat ede mat
sube no
A    1    0   1   2
B    2    3   4   5
C    3    6   7   8
A    4    9  10  11

In [56]:
#Satısal değerlere ait veriler.
tablo['say']

dersler  mat  mat
sube no
A    1     0    2
B    2     3    5
C    3     6    8
A    4     9   11

In [61]:
#indeks yerlerini değiştirmek için

tablo.swaplevel("sube","no")

alan    say söz say
dersler mat ede mat
no sube
1  A      0   1   2
2  B      3   4   5
3  C      6   7   8
4  A      9  10  11

In [67]:
#indeks sıralama

tablo.sort_index(level=0)

alan    say söz say
dersler mat ede mat
sube no
A    1    0   1   2
     4    9  10  11
B    2    3   4   5
C    3    6   7   8

In [82]:
#tablo2 =tablo.set_index() foksiyonu ile belirlene sütun indeks yapılabilir.
#drop=False ayarı ile indeks olarak alınan sütun olduğu yerde kalır
#reset_index() ile verş tekrar eski haline döner.

# **Veri Birleştirme**

In [101]:
tablo1 = pd.DataFrame({"anahtar":[1,2,3,4,5,6,8,4],"kod":[3,5,4,1,2,36,5,2],"sınıf":["a","b","c","d","e","a","b","g"]})
tablo2 = pd.DataFrame({"enaktar":[1,22,3,4,5,6,81,4],"kod":[7,3,2,12,25,12,3,5],"sınıf":["a","b","z","d","d","h","a","b"]})

In [102]:
tablo1

   anahtar  kod sınıf
0        1    3     a
1        2    5     b
2        3    4     c
3        4    1     d
4        5    2     e
5        6   36     a
6        8    5     b
7        4    2     g

In [103]:
tablo2

   enaktar  kod sınıf
0        1    7     a
1       22    3     b
2        3    2     z
3        4   12     d
4        5   25     d
5        6   12     h
6       81    3     a
7        4    5     b

In [104]:
#tablo birleştirme "kod" sütununa göre birleştidi.

pd.merge(tablo1,tablo2)

   anahtar  kod sınıf  enaktar
0        1    3     a       81
1        2    5     b        4
2        8    5     b        4

In [105]:
#hangi sütuna göre birleştireceğimizi elle de seçebiliriz..

pd.merge(tablo1,tablo2,on="kod")

   anahtar  kod sınıf_x  enaktar sınıf_y
0        1    3       a       22       b
1        1    3       a       81       a
2        2    5       b        4       b
3        5    2       e        3       z
4        8    5       b        4       b
5        4    2       g        3       z

In [106]:
#Eğer birleştireceğimiz sütun adları farklı ise

pd.merge(tablo1,tablo2,left_on="anahtar",right_on="enaktar")

   anahtar  kod_x sınıf_x  enaktar  kod_y sınıf_y
0        1      3       a        1      7       a
1        3      4       c        3      2       z
2        4      1       d        4     12       d
3        4      1       d        4      5       b
4        4      2       g        4      5       b
5        5      2       e        5     25       d
6        6     36       a        6     12       h
7        4      2       g        4     12       d

In [107]:
#Karşılığı olmayan değerleri yazdırmak istersek
pd.merge(tablo1,tablo2,left_on="anahtar",right_on="enaktar",how="outer")

    anahtar  kod_x sınıf_x  enaktar  kod_y sınıf_y
0       1.0    3.0       a      1.0    7.0       a
1       2.0    5.0       b      NaN    NaN     NaN
2       3.0    4.0       c      3.0    2.0       z
3       4.0    1.0       d      4.0   12.0       d
4       4.0    1.0       d      4.0    5.0       b
5       4.0    2.0       g      4.0   12.0       d
6       4.0    2.0       g      4.0    5.0       b
7       5.0    2.0       e      5.0   25.0       d
8       6.0   36.0       a      6.0   12.0       h
9       8.0    5.0       b      NaN    NaN     NaN
10      NaN    NaN     NaN     22.0    3.0       b
11      NaN    NaN     NaN     81.0    3.0       a

In [108]:
#Soldaki veriye göre sıralamak için
pd.merge(tablo1,tablo2,left_on="anahtar",right_on="enaktar",how="left")

   anahtar  kod_x sınıf_x  enaktar  kod_y sınıf_y
0        1      3       a      1.0    7.0       a
1        2      5       b      NaN    NaN     NaN
2        3      4       c      3.0    2.0       z
3        4      1       d      4.0   12.0       d
4        4      1       d      4.0    5.0       b
5        5      2       e      5.0   25.0       d
6        6     36       a      6.0   12.0       h
7        8      5       b      NaN    NaN     NaN
8        4      2       g      4.0   12.0       d
9        4      2       g      4.0    5.0       b

In [109]:
#iki tablodaki ortak değerleri almak istersek
pd.merge(tablo1,tablo2,left_on="anahtar",right_on="enaktar",how="inner")

   anahtar  kod_x sınıf_x  enaktar  kod_y sınıf_y
0        1      3       a        1      7       a
1        3      4       c        3      2       z
2        4      1       d        4     12       d
3        4      1       d        4      5       b
4        4      2       g        4      5       b
5        5      2       e        5     25       d
6        6     36       a        6     12       h
7        4      2       g        4     12       d

In [113]:
#Birden fazla anahtar sütunla birleştirmek
pd.merge(tablo1,tablo2,on=["kod","sınıf"])

   anahtar  kod sınıf  enaktar
0        1    3     a       81
1        2    5     b        4
2        8    5     b        4

In [115]:
#ortak olmayan değerlerde eklensin
pd.merge(tablo1,tablo2,on=["kod","sınıf"],how="outer")

    anahtar  kod sınıf  enaktar
0       4.0    1     d      NaN
1       5.0    2     e      NaN
2       4.0    2     g      NaN
3       NaN    2     z      3.0
4       1.0    3     a     81.0
5       NaN    3     b     22.0
6       3.0    4     c      NaN
7       2.0    5     b      4.0
8       8.0    5     b      4.0
9       NaN    7     a      1.0
10      NaN   12     d      4.0
11      NaN   12     h      6.0
12      NaN   25     d      5.0
13      6.0   36     a      NaN

In [124]:
#eğer indekse göre tabloları birleştirmek istersek

tablo1.join(tablo2, lsuffix='_eski', rsuffix='_yeni',how="outer")

   anahtar  kod_eski sınıf_eski  enaktar  kod_yeni sınıf_yeni
0        1         3          a        1         7          a
1        2         5          b       22         3          b
2        3         4          c        3         2          z
3        4         1          d        4        12          d
4        5         2          e        5        25          d
5        6        36          a        6        12          h
6        8         5          b       81         3          a
7        4         2          g        4         5          b

In [128]:
#3 tane tabloyu birleştirmek için
#tablo.join([tablo1,tablo2],how="outer")

ValueError: Indexes have overlapping values: Index([('say', 'mat'), 'kod', 'sınıf'], dtype='object')

In [4]:
dizi = np.arange(10).reshape(2,5)
dizi

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [8]:
#diziyi indeks bilgisi kullanmadan birleştirmek için
#axis 1 seçtiğimiz için sütun olarak birleştirir yani yanına ekler. p seçseytın altına eklerdi.
np.concatenate([dizi,dizi],axis=1)

array([[0, 1, 2, 3, 4, 0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9, 5, 6, 7, 8, 9]])

In [9]:
veri = pd.Series([0,1], index=["a","b"])
veri2 =pd.Series([11,1,4], index=["g","c","j"])
veri3 =pd.Series([2,13], index=["h","b"])

In [12]:
#concat metodu ile veriler alt alta ekledin yan yana eklemek için axis 1 değeri vermeliyiz.
pd.concat([veri,veri2,veri3])

a     0
b     1
g    11
c     1
h     2
b    13
dtype: int64

In [16]:
#Süun olarak yana ekleyip sütunlara isim verebiliriz.
pd.concat([veri,veri2,veri3],axis=1,keys=["veri1","veri2","veri3"])

   veri1  veri2  veri3
a    0.0    NaN    NaN
b    1.0    NaN   13.0
g    NaN   11.0    NaN
c    NaN    1.0    NaN
h    NaN    NaN    2.0

In [28]:
vs1 = pd.DataFrame(np.random.randn(3,4),
                   index=["1","2","3"],
                   columns=["a","b","c","d"])
vs2 = pd.DataFrame(np.random.randn(3,7),
                   index=["1","2","3"],
                   columns=["a","b","c","d","e","f","g"])

In [23]:
vs1

          a         b         c         d
1 -0.189714 -0.449572 -0.847635 -1.933201
2 -1.872037  0.801423  1.183730 -0.567422
3  0.836468 -0.280084  0.670263  0.469822

In [22]:
vs2

          a         b         c         d         e         f         g
1  1.419605 -0.243400 -0.292498  0.458692 -1.342927  0.345090 -0.071628
2 -1.019778 -0.390206  0.461384  0.749723 -0.742587  1.768939  0.376200
3 -0.071473 -0.495571 -0.511509 -0.462923 -1.217602  0.233019  0.891918

In [34]:
#iki dataframe i gruplayarak birleştirdik.
pd.concat([vs1,vs2],axis=0,sort=False,keys=["Grup 1","Grup 2"])
#

                 a         b         c         d         e         f         g
Grup 1 1  0.632133 -0.777917  0.388752 -0.604984       NaN       NaN       NaN
       2 -0.532855  0.280885 -0.081349  0.020086       NaN       NaN       NaN
       3  0.301873 -0.466230  0.024192  0.375209       NaN       NaN       NaN
Grup 2 1  0.165627  2.100427  1.415322 -0.674774  0.432916  1.638549 -0.263486
       2  0.575554 -1.152167  0.481985  0.277898 -0.417736 -0.225684 -0.706380
       3 -1.820116  0.481330 -0.533225  0.077310 -1.531732  0.046291  0.980424

In [36]:
#indeksleri olmayan tabloları birleştirme

veri= pd.DataFrame(np.random.randn(3,4),columns=["a","b","c","d"])
veri1= pd.DataFrame(np.random.randn(5,4),columns=["d","a","f","g"])

In [38]:
pd.concat([veri,veri1],ignore_index=True,sort=False)

          a         b         c         d         f         g
0  1.264814 -1.000598  3.474217 -1.606431       NaN       NaN
1 -0.792254 -1.714471  0.260296 -0.072209       NaN       NaN
2  0.108015  0.078906  0.828537  0.045828       NaN       NaN
3  0.028734       NaN       NaN -0.728379 -0.681680 -0.212438
4 -1.143260       NaN       NaN  0.218649  0.264926 -0.585139
5  1.507795       NaN       NaN  0.538965  2.088070  1.320640
6 -1.068292       NaN       NaN  0.242890  0.244397 -0.755733
7  0.569679       NaN       NaN -0.965972  1.307528 -2.007734

In [44]:
#Veriyi çevirmek için transpose işlemi için
veri.T

          0         1         2
a  1.264814 -0.792254  0.108015
b -1.000598 -1.714471  0.078906
c  3.474217  0.260296  0.828537
d -1.606431 -0.072209  0.045828

In [49]:
#Veriyi uzun formata çevirmek için
uzun=veri.stack()

In [50]:
uzun.unstack()

          a         b         c         d
0  1.264814 -1.000598  3.474217 -1.606431
1 -0.792254 -1.714471  0.260296 -0.072209
2  0.108015  0.078906  0.828537  0.045828

In [53]:
veri= pd.DataFrame(np.arange(16).reshape(4,4),columns=[["say","say","söz","söz"],["mat","ing","mat","ing"]],index=[["a","b","c","d"],[1,2,1,2]])
veri

    say     söz
    mat ing mat ing
a 1   0   1   2   3
b 2   4   5   6   7
c 1   8   9  10  11
d 2  12  13  14  15

In [57]:
#satırları ve sütunları iki seviyeden oluşan bir dataframe hazırladık.
veri.index.names=["sınıf","sınav"]
veri.columns.names=["alan","ders"]
veri

alan        say     söz
ders        mat ing mat ing
sınıf sınav
a     1       0   1   2   3
b     2       4   5   6   7
c     1       8   9  10  11
d     2      12  13  14  15

In [59]:
uzun=veri.stack()
uzun

/tmp/ipython-input-2358604020.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  uzun=veri.stack()

alan              say  söz
sınıf sınav ders
a     1     ing     1    3
            mat     0    2
b     2     ing     5    7
            mat     4    6
c     1     ing     9   11
            mat     8   10
d     2     ing    13   15
            mat    12   14

In [60]:
uzun.unstack()

alan        say     söz
ders        ing mat ing mat
sınıf sınav
a     1       1   0   3   2
b     2       5   4   7   6
c     1       9   8  11  10
d     2      13  12  15  14

In [64]:
#istediğimiz indeks sırasına göre stack yapmak için

veri.stack(0)

/tmp/ipython-input-2437983563.py:3: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  veri.stack(0)

ders              mat  ing
sınıf sınav alan
a     1     say     0    1
            söz     2    3
b     2     say     4    5
            söz     6    7
c     1     say     8    9
            söz    10   11
d     2     say    12   13
            söz    14   15

In [65]:
#aynı şeyi yapar
veri.stack("alan")

/tmp/ipython-input-3055671565.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  veri.stack("alan")

ders              mat  ing
sınıf sınav alan
a     1     say     0    1
            söz     2    3
b     2     say     4    5
            söz     6    7
c     1     say     8    9
            söz    10   11
d     2     say    12   13
            söz    14   15

In [90]:
stok=pd.DataFrame({"meyveler":["Elma","Armut","Kiraz"],
                   "renk": ["Kırmızı","Sarı","Kırmızı"],
                   "vitamin":[100,150,75],
                   "fiyat":[12,9,10]})

stok

  meyveler     renk  vitamin  fiyat
0     Elma  Kırmızı      100     12
1    Armut     Sarı      150      9
2    Kiraz  Kırmızı       75     10

In [94]:
#bu veriyi pivot tabloya dönüştürmek isteyelim. mesela elimizdeki paraya ne alabilirz bakalım

stok.pivot(index="fiyat", columns=["vitamin","renk"], values="meyveler")
#

vitamin     100    150     75
renk    Kırmızı   Sarı Kırmızı
fiyat
9           NaN  Armut     NaN
10          NaN    NaN   Kiraz
12         Elma    NaN     NaN

In [95]:
stok.pivot(index="meyveler",columns="fiyat")

          renk                   vitamin
fiyat       9        10       12      9     10     12
meyveler
Armut     Sarı      NaN      NaN   150.0   NaN    NaN
Elma       NaN      NaN  Kırmızı     NaN   NaN  100.0
Kiraz      NaN  Kırmızı      NaN     NaN  75.0    NaN

In [114]:
#pivot un ters operatörü melt dir. pivor uzun formanı geniş formata çevirir melt ise tam tersi
#hangisinin indeks ve hangilerinin değer olacağını belirleyebiliriz.
grup=pd.melt(stok,id_vars=["meyveler"],value_vars=["vitamin","renk","fiyat"])
grup
#

  meyveler variable    value
0     Elma  vitamin      100
1    Armut  vitamin      150
2    Kiraz  vitamin       75
3     Elma     renk  Kırmızı
4    Armut     renk     Sarı
5    Kiraz     renk  Kırmızı
6     Elma    fiyat       12
7    Armut    fiyat        9
8    Kiraz    fiyat       10

In [116]:
modely=pd.read_excel("/content/model_y_sales_data_turkey.xlsx")

In [121]:
modely.melt(id_vars=["model_details"],value_vars=["prices","year"]).head()
#

          model_details variable    value
0     Premium (Juniper)   prices  2950000
1          RWD (Legacy)   prices  2245000
2     Premium (Juniper)   prices  2975000
3  Performance (Legacy)   prices  2215000
4   Long Range (Legacy)   prices  2225000

# **Grouby**

In [122]:
#karışık gelen sınıf bilgilerini dertler sınıflandırma yapıp işlemler yapabiliriz.
#Gerçek veriler üzerinden gidelim.

modely.head()

          model_details  year     km colors   prices      dates     citys
0     Premium (Juniper)  2025   6001   Füme  2950000 2026-02-08  İstanbul
1          RWD (Legacy)  2024  25000   Mavi  2245000 2026-02-08   Kocaeli
2     Premium (Juniper)  2025   6001  Siyah  2975000 2026-02-08    Ankara
3  Performance (Legacy)  2023  67000    Bej  2215000 2026-02-08  İstanbul
4   Long Range (Legacy)  2023  32811  Beyaz  2225000 2026-02-08     İzmir

In [125]:
#verimizden bir groupby nesnesi oluşturuyoruz bununla bir işlem yapamayız. bununla birlikte bazı özellikleri fonksiyonları kullanmalıyız
yo=modely['km'].groupby(modely['year'])
yo

In [126]:
#örneğin ortalama

yo.mean()

year
2021    96300.000000
2022    29318.000000
2023    50084.287402
2024    29667.098901
2025    11124.093525
Name: km, dtype: float64

In [127]:
yo.median()

year
2021    96300.0
2022    39000.0
2023    48000.0
2024    28700.0
2025     9000.0
Name: km, dtype: float64

In [128]:
yo.max()

year
2021     96300
2022     45000
2023    143000
2024     93500
2025     43500
Name: km, dtype: int64

In [129]:
yo.min()

year
2021    96300
2022        0
2023     6001
2024     6001
2025     6001
Name: km, dtype: int64

In [130]:
#istersek iki kategoriye görede gruplama yapabiliriz

veri= modely['prices'].groupby([modely['year'],modely['model_details']])

In [135]:
veri.median()

year  model_details
2021  Long Range (Legacy)      2280000.0
2022  Long Range (Legacy)      3150000.0
      Performance (Legacy)     2382500.0
2023  Long Range (Legacy)      2340000.0
      Performance (Legacy)     2550000.0
2024  RWD (Juniper)            2103000.0
      RWD (Legacy)             2240000.0
2025  Long Range (Juniper)     3500000.0
      Long Range (Legacy)      2875000.0
      Performance (Juniper)    4492000.0
      Premium (Juniper)        2875000.0
      RWD (Juniper)            2880000.0
      RWD (Legacy)             2325000.0
      Standart (Juniper)       2850000.0
Name: prices, dtype: float64

In [140]:
#istersek belli bir kategorinin diğer sayısal değişkenler için işlem sonuçlarını görebiliriz.
modely.groupby("model_details").mean(numeric_only=True)

                              year            km        prices
model_details
Long Range (Juniper)   2025.000000  10762.181818  3.505727e+06
Long Range (Legacy)    2022.992857  51918.764286  2.394442e+06
Performance (Juniper)  2025.000000   6026.000000  4.492000e+06
Performance (Legacy)   2022.966942  47121.462810  2.644762e+06
Premium (Juniper)      2025.000000  10005.642276  2.910770e+06
RWD (Juniper)          2024.950820  12044.557377  2.841918e+06
RWD (Legacy)           2024.218341  27796.266376  2.262712e+06
Standart (Juniper)     2025.000000  10034.553191  2.835597e+06

In [141]:
#iki kategorik değişken içinde bunu yapabilirim.
modely.groupby(["model_details","year"]).mean(numeric_only=True)

                                      km        prices
model_details         year
Long Range (Juniper)  2025  10762.181818  3.505727e+06
Long Range (Legacy)   2021  96300.000000  2.280000e+06
                      2022      0.000000  3.150000e+06
                      2023  52308.773723  2.386254e+06
                      2025   6025.000000  2.875000e+06
Performance (Juniper) 2025   6026.000000  4.492000e+06
Performance (Legacy)  2022  36647.500000  2.435000e+06
                      2023  47479.547009  2.651933e+06
Premium (Juniper)     2025  10005.642276  2.910770e+06
RWD (Juniper)         2024  31166.666667  2.047667e+06
                      2025  11055.482759  2.883000e+06
RWD (Legacy)          2024  29641.966480  2.245689e+06
                      2025  21188.660000  2.323655e+06
Standart (Juniper)    2025  10034.553191  2.835597e+06