# **Hiyerarşik İndeksler**

In [7]:
import numpy as np
import pandas as pd

In [28]:
#Çoklu indekse sahip bir dataframe oluşturulım
seri=pd.Series(np.random.randn(10),index=[['a','a','a','a','b','b','a','c','c','b'],[1,2,3,5,4,6,8,4,1,1]])
seri

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
b  4    0.023816
   6   -2.333445
a  8    1.300227
c  4    1.050461
   1   -0.963290
b  1    0.166460
dtype: float64

In [29]:
#indeks bilgilerini görmek için
seri.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('a', 5),
            ('b', 4),
            ('b', 6),
            ('a', 8),
            ('c', 4),
            ('c', 1),
            ('b', 1)],
           )

In [30]:
#'a' indekse sahip verileri görüntülemek için

seri['a']

1    0.422047
2   -0.831704
3    0.852379
5    0.500398
8    1.300227
dtype: float64

In [31]:
#Veriyi dilimleme yapmak istersek ilk başta indeksi sıralıyoruz sonra çağırıyoruz
seri = seri.sort_index()
seri['a':'c']

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
   8    1.300227
b  1    0.166460
   4    0.023816
   6   -2.333445
c  1   -0.963290
   4    1.050461
dtype: float64

In [32]:
# a ve c indeksine ait değerleri ekrana yazdırabilmek için

seri[['a','c']]

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
   8    1.300227
c  1   -0.963290
   4    1.050461
dtype: float64

In [33]:
seri.loc[['a','c']]

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
   8    1.300227
c  1   -0.963290
   4    1.050461
dtype: float64

In [34]:
#içdeki indekse ait verileri çağırmak için

seri[:,1]

a    0.422047
b    0.166460
c   -0.963290
dtype: float64

In [35]:
#yada böyle her ana indeksin 1. iç indekse ait değeri görebiliriz. Ama önemli olan hepsinde karşıığı olmalı nan değer olmamalı

seri.loc[:,1]

a    0.422047
b    0.166460
c   -0.963290
dtype: float64

In [36]:
#veriyi tablo halinde görmek istersek. 1. iç indeksin baktığımızda hepsine ait değeri var.

seri.unstack()

          1         2         3         4         5         6         8
a  0.422047 -0.831704  0.852379       NaN  0.500398       NaN  1.300227
b  0.166460       NaN       NaN  0.023816       NaN -2.333445       NaN
c -0.963290       NaN       NaN  1.050461       NaN       NaN       NaN

In [37]:
#Tekrar eski haline döndürmek için

seri.unstack().stack()

a  1    0.422047
   2   -0.831704
   3    0.852379
   5    0.500398
   8    1.300227
b  1    0.166460
   4    0.023816
   6   -2.333445
c  1   -0.963290
   4    1.050461
dtype: float64

In [51]:
#tablo da çoklu hiyerarşik indeksler

tablo =pd.DataFrame(np.arange(12).reshape(4,3),index=[["A","B","C","A"],[1,2,3,4]],columns=[["say","söz","say"],["mat","ede","mat"]])
tablo

    say söz say
    mat ede mat
A 1   0   1   2
B 2   3   4   5
C 3   6   7   8
A 4   9  10  11

In [53]:
#bu indeklerimizi isimlendirelim

tablo.index.names=["sube","no"]
tablo.columns.names = ["alan","dersler"]

tablo

alan    say söz say
dersler mat ede mat
sube no
A    1    0   1   2
B    2    3   4   5
C    3    6   7   8
A    4    9  10  11

In [56]:
#Satısal değerlere ait veriler.
tablo['say']

dersler  mat  mat
sube no
A    1     0    2
B    2     3    5
C    3     6    8
A    4     9   11

In [61]:
#indeks yerlerini değiştirmek için

tablo.swaplevel("sube","no")

alan    say söz say
dersler mat ede mat
no sube
1  A      0   1   2
2  B      3   4   5
3  C      6   7   8
4  A      9  10  11

In [67]:
#indeks sıralama

tablo.sort_index(level=0)

alan    say söz say
dersler mat ede mat
sube no
A    1    0   1   2
     4    9  10  11
B    2    3   4   5
C    3    6   7   8

In [82]:
#tablo2 =tablo.set_index() foksiyonu ile belirlene sütun indeks yapılabilir.
#drop=False ayarı ile indeks olarak alınan sütun olduğu yerde kalır
#reset_index() ile verş tekrar eski haline döner.

# **Veri Birleştirme**

In [93]:
tablo1 = pd.DataFrame({"anahtar":[1,2,3,4,5,6,8,4],"kod":[3,5,4,1,2,36,5,2]})
tablo2 = pd.DataFrame({"enaktar":[1,22,3,4,5,6,81,4],"kod":[7,3,2,12,25,12,3,5]})

In [87]:
tablo1

   anahtar  kod
0        1    3
1        2    5
2        3    4
3        4    1
4        5    2
5        6   36
6        8    5
7        4    2

In [88]:
tablo2

   enaktar  kod
0        1    7
1        2    3
2        3    2
3        4   12
4        5   25
5        6   12
6        8    3
7        4    5

In [89]:
#tablo birleştirme "kod" sütununa göre birleştidi.

pd.merge(tablo1,tablo2)

   anahtar  kod  enaktar
0        1    3        2
1        1    3        8
2        2    5        4
3        5    2        3
4        8    5        4
5        4    2        3

In [90]:
#hangi sütuna göre birleştireceğimizi elle de seçebiliriz..

pd.merge(tablo1,tablo2,on="kod")

   anahtar  kod  enaktar
0        1    3        2
1        1    3        8
2        2    5        4
3        5    2        3
4        8    5        4
5        4    2        3

In [95]:
#Eğer birleştireceğimiz sütun adları farklı ise

pd.merge(tablo1,tablo2,left_on="anahtar",right_on="enaktar")

   anahtar  kod_x  enaktar  kod_y
0        1      3        1      7
1        3      4        3      2
2        4      1        4     12
3        4      1        4      5
4        4      2        4      5
5        5      2        5     25
6        6     36        6     12
7        4      2        4     12

In [94]:
#Karşılığı olmayan değerleri yazdırmak istersek
pd.merge(tablo1,tablo2,left_on="anahtar",right_on="enaktar",how="outer")

    anahtar  kod_x  enaktar  kod_y
0       1.0    3.0      1.0    7.0
1       2.0    5.0      NaN    NaN
2       3.0    4.0      3.0    2.0
3       4.0    1.0      4.0   12.0
4       4.0    1.0      4.0    5.0
5       4.0    2.0      4.0   12.0
6       4.0    2.0      4.0    5.0
7       5.0    2.0      5.0   25.0
8       6.0   36.0      6.0   12.0
9       8.0    5.0      NaN    NaN
10      NaN    NaN     22.0    3.0
11      NaN    NaN     81.0    3.0