<a href="https://colab.research.google.com/github/azem46/Python_Codlab_Handbook/blob/main/Python_Ders_5_Tuple_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple(Diziler)**

Demetler (tuples), birden fazla öğeyi tek bir değişkende saklamak için kullanılır.

Python'da veri koleksiyonlarını depolamak için kullanılan 4 yerleşik veri türünden biri olan Tuple, diğer 3'ü List , Set ve Dictionary'dir ve her birinin farklı özellikleri ve kullanım alanları vardır.

Bir demet (tuple), sıralı ve değiştirilemez bir koleksiyondur .

Demetler yuvarlak parantez içinde yazılır.

**Python programlama dilinde dört adet veri toplama türü bulunmaktadır:**



**Liste,** sıralı ve değiştirilebilir bir koleksiyondur. Yinelenen üyelere izin verir.

**Diziler,** sıralı ve değiştirilemez bir koleksiyondur. Yinelenen üyelere izin verir.

**Küme ,** sıralanmamış, değiştirilemez* ve indekslenmemiş bir koleksiyondur. Yinelenen üye içermez.

**Sözlük,**  sıralı ve değiştirilebilir bir koleksiyondur. Yinelenen üye bulunmaz.

In [1]:
#Bir demet (tuple) oluşturmak İçin:
thistuple = ("elma", "muz", "portakal","muz")
print(thistuple)

('elma', 'muz', 'portakal', 'muz')

In [ ]:
#`tuple()` yöntemini kullanarak demet oluşturmak:
thistuple = tuple(("elma", "muz", "portakal","muz"))
print(thistuple)

In [ ]:
#Tuple uzunluğunu hesaplamak İçin:
print(len(thistuple))

In [ ]:
#Tuple öğeleri herhangi bir veri türünde olabilir:
tuple1 = ("togg", "byd", "tesla")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
#Bir demet (tuple) farklı veri türleri içerebilir:
tuple1 = ("abc", 34, True, 40, "male")

In [2]:
#İlgili elemana Erişmek İçin:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
#Son Elemanı Çağırmak İçin:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
#Belli Bir Aralığı Çağırmak İçin
#Not: Arama, 2. dizinden (dahil) başlayıp 5. dizinde (dahil değil) sona erecektir.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [ ]:
#Başlangıç ​​değerini belirtmezseniz, aralık ilk öğeden başlayacaktır:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

In [ ]:
#Bitiş değerini atlayarak, aralık demetin sonuna kadar devam edecektir:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

In [3]:
#Bu örnek, -4 (dahil) dizininden -1 (hariç) dizinine kadar olan öğeleri döndürür.
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
#Bir demette belirtilen bir öğenin olup olmadığını belirlemek için şu inanahtar kelimeyi kullanın:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

In [ ]:
#Bir demet (tuple) oluşturulduktan sonra, değerlerini değiştiremezsiniz. Demetler değiştirilemez veya diğer adıyla sabittir .
#Ancak bir çözüm yolu var. Demeti bir listeye dönüştürebilir, listeyi değiştirebilir ve listeyi tekrar demete dönüştürebilirsiniz.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

In [ ]:
#Demetler değiştirilemez olduğundan, yerleşik bir yöntemleri yoktur append(), ancak bir demete öğe eklemenin başka yolları vardır.
#1. Listeye dönüştürün : bir demeti değiştirme yönteminde olduğu gibi , onu bir listeye dönüştürebilir, öğelerinizi ekleyebilir ve tekrar demete dönüştürebilirsiniz.

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
#2. Bir demete başka bir demet ekleme . Demetlere başka demetler ekleyebilirsiniz, bu nedenle bir öğe (veya birden fazla) eklemek istiyorsanız, öğe(ler)le yeni bir demet oluşturun ve mevcut demete ekleyin:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

In [ ]:
#Bir demet (tuple) oluşturduğumuzda, normalde ona değerler atarız. Buna demeti "paketleme" denir:
fruits = ("apple", "banana", "cherry")

In [4]:
#Python'da değerleri tekrar değişkenlere çıkarmamıza da izin veriliyor. Buna "değer paketini açma" (unpacking) denir:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [5]:
#Değişken sayısı değer sayısından az ise, değişken adına bir `-` ekleyebilirsiniz *ve değerler değişkene liste halinde atanacaktır:
#Geri kalan değerleri "kırmızı" adlı bir liste olarak atayın:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
Bir döngü kullanarak (for)demet öğeleri arasında gezinebilirsiniz.
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
#Ayrıca, indeks numaralarına başvurarak demet öğeleri arasında döngü oluşturabilirsiniz.
#Uygun bir yinelenebilir nesne oluşturmak için range()ve işlevlerini kullanın .len()

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [ ]:
#Bir döngü kullanarak demet öğeleri arasında gezinebilirsiniz while.

#Fonksiyonu kullanarak len()demetin uzunluğunu belirleyin, ardından 0'dan başlayarak indekslerine başvurarak demet öğeleri arasında döngü oluşturun.

#Her yinelemeden sonra indeksi 1 artırmayı unutmayın.
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

In [7]:
#İki veya daha fazla demeti birleştirmek için şu operatörü  +  kullanabilirsiniz:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)
#

('a', 'b', 'c', 1, 2, 3)

In [6]:
#Bir demetin içeriğini belirli bir sayıda çarpmak istiyorsanız, şu * operatörü kullanabilirsiniz:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [8]:
#Tuple'da 5 değerinin kaç kez geçtiğini döndürün:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [ ]:
#8 değerinin ilk geçtiği yeri arayın ve konumunu döndürün:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

# **Python Sets(Kümeler)**

Kümeler, kıvrımlı parantezler içinde yazılır.

Bir küme, sıralanmamış , değiştirilemez* ve indekslenmemiş bir koleksiyondur .

Küme öğeleri sıralı değildir, değiştirilemez ve aynı değerin tekrarlanmasına izin vermez.

Set halindeki öğeler değiştirilemez, yani set oluşturulduktan sonra öğeleri değiştiremeyiz.

Bir kümede aynı değere sahip iki öğe bulunamaz.

Bir set oluşturulduktan sonra, içindeki öğeleri değiştiremezsiniz, ancak yeni öğeler ekleyebilirsiniz.

In [10]:
#Not: Setler sıralı değildir, bu nedenle öğelerin hangi sırayla görüneceğinden emin olamazsınız.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
#Ayrıca set() kurucu fonksiyonunu kullanarak da küme oluşturmak mümkündür .
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

In [11]:
#Yinelenen değerler dikkate alınmayacaktır:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [12]:
#Not:True ve değerleri 1kümelerde aynı değer olarak kabul edilir ve yinelenen değerler olarak değerlendirilir:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [ ]:
#Bir kümenin kaç öğeden oluştuğunu belirlemek için bu len() fonksiyonu kullanın.
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

In [ ]:
#Küme öğeleri herhangi bir veri türünde olabilir:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
#Bir küme farklı veri türleri içerebilir:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
#Python açısından bakıldığında, kümeler 'set' veri türüne sahip nesneler olarak tanımlanır:
myset = {"apple", "banana", "cherry"}
print(type(myset))

In [ ]:
#Kümedeki değerleri döngüyle tarayın ve yazdırın:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
#Listede "muz" kelimesinin olup olmadığını kontrol edin:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
#Listede "muz" kelimesinin bulunmadığını kontrol edin:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

In [ ]:
#Bir kümeye tek bir öğe eklemek için bu add() yöntemi kullanın.
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
#Başka bir kümedeki öğeleri mevcut kümeye eklemek için bu update() yöntemi kullanın.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
#Metot içindeki nesne update()bir küme olmak zorunda değildir, herhangi bir yinelenebilir nesne (tuple, liste, sözlük vb.) olabilir.
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
#Bir kümedeki öğeyi kaldırmak için , remove()veya discard()yöntemini kullanın.
#Not: Kaldırılacak öğe mevcut değilse remove()hata oluşacaktır.
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
#Aşağıdaki yöntemi kullanarak rastgele bir öğeyi kaldırın pop() :
#Not: Kümeler sıralı değildir , bu nedenle yöntemi kullanırken pop()hangi öğenin kaldırılacağını bilemezsiniz.
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
#Bu clear() yöntem kümeyi boşaltır:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
#Bu delanahtar kelime, kümeyi tamamen silecektir:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

In [ ]:
#Set1 ve Set2'yi yeni bir set halinde birleştirin:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
#(|) operatörü İki kümeyi birleştirmek için kullanılır :
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

In [ ]:
#Birden fazla kümeyi şu yöntemle birleştirin union():
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
#Bir kümeyi bir demetle birleştirin:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

In [ ]:
#Bu update()yöntem, set2'deki öğeleri set1'e ekler:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [13]:
#Yalnızca kopyaları saklayın.

#Bu intersection()yöntem, yalnızca her iki kümede de bulunan öğeleri içeren yeni bir küme döndürür.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [14]:
#intersection()Metot yerine & operatörü kullanabilirsiniz ve aynı sonucu elde edersiniz.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [15]:
#Hem set1 , hem de set2 içinde bulunan öğeleri saklayın :
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [ ]:
#True, False, 1,0 ve değerlerini içeren kümeleri birleştirin ve hangilerinin yinelenen değerler olarak kabul edildiğini görün:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

In [16]:
#Set1'de olup Set2'de olmayan tüm öğeleri saklayın:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [17]:
#difference()Metot yerine - operatörü kullanabilirsiniz ve aynı sonucu elde edersiniz.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [18]:
#difference_update()Birinci kümedeki öğelerden diğer kümede bulunmayanları saklamak için şu yöntemi kullanın :
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [ ]:
#difference_update()Birinci kümedeki öğelerden diğer kümede bulunmayanları saklamak için şu yöntemi kullanın :
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

In [ ]:
#^İki kümeyi birleştirmek için kullanılır :
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

In [ ]:
#symmetric_difference_update()İki kümede de bulunmayan öğeleri saklamak için şu yöntemi kullanın :
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

In [ ]:
#Kümeye bir öğe ekleyin fruits:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

In [ ]:
#Kümeden tüm öğeleri kaldırın fruits:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

In [ ]:
#Seti kopyala fruits:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

In [ ]:
#Bu difference()yöntem, iki küme arasındaki farkı içeren bir küme döndürür.
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a.difference(b, c)

print(myset)

In [ ]:
#Her iki kümede de bulunan öğeleri kaldırın:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

In [ ]:
#"Muz"u listeden çıkarın:
fruits = {"apple", "muz", "cherry"}

fruits.discard("muz")

print(fruits)

In [ ]:
#Kesişim Kümesini Döndürür.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

In [ ]:
# Hem x hem de y içinde bulunmayan öğeleri kaldırın :
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

In [19]:
#Eğer kümede hiçbir öğe yoksa True değerini döndürün
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [20]:
#Eğer x kümesindeki tüm öğeler y kümesinde mevcutsa True değerini döndürün
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [21]:
#x  y yi kapsıyorsa
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [ ]:
#Kümeden rastgele bir öğeyi çıkarın:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

In [ ]:
#Eleman çıkarmak için
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

In [22]:
#Ortak olanları çıkarır kalanları tek kümede toplar:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'microsoft', 'banana'}

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'banana', 'google', 'microsoft'}

In [24]:
#Her iki kümedeki tüm öğeleri içeren, yinelenen öğeleri hariç tutan bir küme döndürün:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'apple', 'google', 'microsoft', 'banana'}

In [25]:
#Y yi X e ekler
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'apple', 'google', 'microsoft', 'banana'}