<a href="https://colab.research.google.com/github/azem46/Python_Colab_Handbook/blob/main/Veri_Manip%C3%BClasyonunda_Kullan%C4%B1lan_Fonksiyonlar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [38]:
veri =pd.read_csv("DenemeAnaliz.csv",sep =";",encoding="latin1")
veri.head()

,deneme_sira,genel_sira,sube,turkce_dogru,turkce_yanlis,turkce_net,sosyal_bilgiler_dogru,sosyal_bilgiler_yanlis,sosyal_bilgiler_net,din_kulturu_dogru,...,toplam_dogru,toplam_yanlis,toplam_net,puan,sube_derece,kurum_derece,ilce_derece,il_derece,genel_derece,Yüzdelik Dilim
0,1,1,B,13,1,"12,67",7,3,"6,00",10,...,69,5,"67,33","478,00",1,1,1,11,27,"0,71%"
1,1,2,A,15,0,"15,00",9,1,"8,67",10,...,67,8,"64,33","473,48",1,2,3,19,46,"1,22%"
2,1,3,B,13,2,"12,33",8,2,"7,33",9,...,69,6,"67,00","470,23",2,3,5,24,58,"1,53%"
3,1,4,B,15,0,"15,00",7,3,"6,00",10,...,66,5,"64,33","464,55",3,4,7,30,86,"2,27%"
4,1,5,C,13,0,"13,00",9,1,"8,67",10,...,67,3,"66,00","460,79",1,5,9,40,112,"2,96%"

In [10]:
#Dataya ait değişken isimlerine bakmak için
veri.columns

Index(['deneme_sira', 'genel_sira', 'sube', 'turkce_dogru', 'turkce_yanlis',
       'turkce_net', 'sosyal_bilgiler_dogru', 'sosyal_bilgiler_yanlis',
       'sosyal_bilgiler_net', 'din_kulturu_dogru', 'din_kulturu_yanlis',
       'din_kulturu_net', 'yabanci_dil_dogru', 'yabanci_dil_yanlis',
       'yabanci_dil_net', 'matematik_dogru', 'matematik_yanlis',
       'matematik_net', 'fen_dogru', 'fen_yanlis', 'fen_net', 'toplam_dogru',
       'toplam_yanlis', 'toplam_net', 'puan', 'sube_derece', 'kurum_derece',
       'ilce_derece', 'il_derece', 'genel_derece', 'Yüzdelik Dilim'],
      dtype='object')

In [11]:
#Dataya Ait Bilgi Edinmek İçin, Boş Değer,Kolon İsimlerine ve Tiplerine Erişebilir

veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   deneme_sira             337 non-null    int64
 1   genel_sira              337 non-null    int64
 2   sube                    337 non-null    object
 3   turkce_dogru            337 non-null    int64
 4   turkce_yanlis           337 non-null    int64
 5   turkce_net              337 non-null    object
 6   sosyal_bilgiler_dogru   337 non-null    int64
 7   sosyal_bilgiler_yanlis  337 non-null    int64
 8   sosyal_bilgiler_net     337 non-null    object
 9   din_kulturu_dogru       337 non-null    int64
 10  din_kulturu_yanlis      337 non-null    int64
 11  din_kulturu_net         337 non-null    object
 12  yabanci_dil_dogru       337 non-null    int64
 13  yabanci_dil_yanlis      337 non-null    int64
 14  yabanci_dil_net         337 non-null    object
 15  matematik_dogru         337 non-null    int64
 16  matematik_yanlis        337 non-null    int64
 17  matematik_net           337 non-null    object
 18  fen_dogru               337 non-null    int64
 19  fen_yanlis              337 non-null    int64
 20  fen_net                 337 non-null    object
 21  toplam_dogru            337 non-null    object
 22  toplam_yanlis           337 non-null    object
 23  toplam_net              337 non-null    object
 24  puan                    337 non-null    object
 25  sube_derece             337 non-null    int64
 26  kurum_derece            337 non-null    int64
 27  ilce_derece             337 non-null    int64
 28  il_derece               337 non-null    int64
 29  genel_derece            337 non-null    int64
 30  Yüzdelik Dilim          337 non-null    object
dtypes: int64(19), object(12)
memory usage: 81.7+ KB

In [18]:
#Veriye ait satır ve sütun sayısına erişmek için
veri.shape

(337, 31)

In [24]:
#satır sayısı
veri.shape[0]

337

In [ ]:
#yada
len(veri)

In [20]:
#sütun sayısı
veri.shape[1]

31

In [26]:
#ya da
len(veri.columns)

31

In [27]:
#Toplam Hücre Sayısını Öğrenmek İçin
veri.size

10447

In [30]:
#Sütunlara ait boş hücre sayısını bulmak için

bos_deger_sayisi = veri.isnull().sum()
bos_deger_sayisi

deneme_sira               0
genel_sira                0
sube                      0
turkce_dogru              0
turkce_yanlis             0
turkce_net                0
sosyal_bilgiler_dogru     0
sosyal_bilgiler_yanlis    0
sosyal_bilgiler_net       0
din_kulturu_dogru         0
din_kulturu_yanlis        0
din_kulturu_net           0
yabanci_dil_dogru         0
yabanci_dil_yanlis        0
yabanci_dil_net           0
matematik_dogru           0
matematik_yanlis          0
matematik_net             0
fen_dogru                 0
fen_yanlis                0
fen_net                   0
toplam_dogru              0
toplam_yanlis             0
toplam_net                0
puan                      0
sube_derece               0
kurum_derece              0
ilce_derece               0
il_derece                 0
genel_derece              0
Yüzdelik Dilim            0
dtype: int64

In [36]:
#Toplam Boş Değer Sayısını Bulmak İçin
toplam_bos=bos_deger_sayisi.sum()
toplam_bos

np.int64(0)

In [37]:
#Verimizdeki bos deger oranını bulmak için

bos_deger_oranı = (toplam_bos/veri.size)*100
bos_deger_oranı

np.float64(0.0)

In [38]:
#Tüm boş değerleri temizlemek için , bir sütunda b tane boş değer varsa onu siler
veri.dropna()
#eksik değerimiz olmadığı için silinen sütunumuz olmadıç

,deneme_sira,genel_sira,sube,turkce_dogru,turkce_yanlis,turkce_net,sosyal_bilgiler_dogru,sosyal_bilgiler_yanlis,sosyal_bilgiler_net,din_kulturu_dogru,...,toplam_dogru,toplam_yanlis,toplam_net,puan,sube_derece,kurum_derece,ilce_derece,il_derece,genel_derece,Yüzdelik Dilim
0,1,1,B,13,1,"12,67",7,3,"6,00",10,...,69,5,"67,33","478,00",1,1,1,11,27,"0,71%"
1,1,2,A,15,0,"15,00",9,1,"8,67",10,...,67,8,"64,33","473,48",1,2,3,19,46,"1,22%"
2,1,3,B,13,2,"12,33",8,2,"7,33",9,...,69,6,"67,00","470,23",2,3,5,24,58,"1,53%"
3,1,4,B,15,0,"15,00",7,3,"6,00",10,...,66,5,"64,33","464,55",3,4,7,30,86,"2,27%"
4,1,5,C,13,0,"13,00",9,1,"8,67",10,...,67,3,"66,00","460,79",1,5,9,40,112,"2,96%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,3,107,D,12,2,"11,33",4,5,"2,33",7,...,"49,00","21,00","42,0","378,334",25,107,107,193,8287,"29,74%"
333,3,108,C,10,5,"8,33",7,3,"6,00",7,...,"50,00","23,00","42,3","378,326",26,108,108,194,8288,"29,74%"
334,3,109,B,12,3,"11,00",6,4,"4,67",8,...,"51,00","23,00","43,3","376,727",29,109,109,198,8454,"30,34%"
335,3,110,D,13,2,"12,33",5,5,"3,33",6,...,"50,00","25,00","41,7","376,510",28,110,110,199,8476,"30,42%"
336,3,111,D,11,4,"9,67",5,5,"3,33",8,...,"49,00","26,00","40,3","364,939",27,111,111,215,9696,"34,80%"

In [39]:
#eksik değeri olan sütunu değilse satırı silmek istersek

veri.dropna(axis=1)

,deneme_sira,genel_sira,sube,turkce_dogru,turkce_yanlis,turkce_net,sosyal_bilgiler_dogru,sosyal_bilgiler_yanlis,sosyal_bilgiler_net,din_kulturu_dogru,...,toplam_dogru,toplam_yanlis,toplam_net,puan,sube_derece,kurum_derece,ilce_derece,il_derece,genel_derece,Yüzdelik Dilim
0,1,1,B,13,1,"12,67",7,3,"6,00",10,...,69,5,"67,33","478,00",1,1,1,11,27,"0,71%"
1,1,2,A,15,0,"15,00",9,1,"8,67",10,...,67,8,"64,33","473,48",1,2,3,19,46,"1,22%"
2,1,3,B,13,2,"12,33",8,2,"7,33",9,...,69,6,"67,00","470,23",2,3,5,24,58,"1,53%"
3,1,4,B,15,0,"15,00",7,3,"6,00",10,...,66,5,"64,33","464,55",3,4,7,30,86,"2,27%"
4,1,5,C,13,0,"13,00",9,1,"8,67",10,...,67,3,"66,00","460,79",1,5,9,40,112,"2,96%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,3,107,D,12,2,"11,33",4,5,"2,33",7,...,"49,00","21,00","42,0","378,334",25,107,107,193,8287,"29,74%"
333,3,108,C,10,5,"8,33",7,3,"6,00",7,...,"50,00","23,00","42,3","378,326",26,108,108,194,8288,"29,74%"
334,3,109,B,12,3,"11,00",6,4,"4,67",8,...,"51,00","23,00","43,3","376,727",29,109,109,198,8454,"30,34%"
335,3,110,D,13,2,"12,33",5,5,"3,33",6,...,"50,00","25,00","41,7","376,510",28,110,110,199,8476,"30,42%"
336,3,111,D,11,4,"9,67",5,5,"3,33",8,...,"49,00","26,00","40,3","364,939",27,111,111,215,9696,"34,80%"

In [46]:
#Datamızın bir kısmı ile çalışak istersek

ders_verileri = veri.loc[ :, "turkce_dogru":"toplam_net"]
ders_verileri.head()

,turkce_dogru,turkce_yanlis,turkce_net,sosyal_bilgiler_dogru,sosyal_bilgiler_yanlis,sosyal_bilgiler_net,din_kulturu_dogru,din_kulturu_yanlis,din_kulturu_net,yabanci_dil_dogru,...,yabanci_dil_net,matematik_dogru,matematik_yanlis,matematik_net,fen_dogru,fen_yanlis,fen_net,toplam_dogru,toplam_yanlis,toplam_net
0,13,1,"12,67",7,3,"6,00",10,0,"10,00",9,...,"8,67",15,0,"15,00",15,0,"15,00",69,5,"67,33"
1,15,0,"15,00",9,1,"8,67",10,0,"10,00",5,...,"3,33",14,1,"13,67",14,1,"13,67",67,8,"64,33"
2,13,2,"12,33",8,2,"7,33",9,1,"8,67",10,...,"10,00",14,1,"13,67",15,0,"15,00",69,6,"67,00"
3,15,0,"15,00",7,3,"6,00",10,0,"10,00",8,...,"8,00",13,0,"13,00",13,2,"12,33",66,5,"64,33"
4,13,0,"13,00",9,1,"8,67",10,0,"10,00",9,...,"8,67",13,1,"12,67",13,0,"13,00",67,3,"66,00"

In [48]:
#Tüm boş değerleri 0 ile değiştirmek için
# replace all NA's with 0
ders_verileri.fillna(0).head()

,turkce_dogru,turkce_yanlis,turkce_net,sosyal_bilgiler_dogru,sosyal_bilgiler_yanlis,sosyal_bilgiler_net,din_kulturu_dogru,din_kulturu_yanlis,din_kulturu_net,yabanci_dil_dogru,...,yabanci_dil_net,matematik_dogru,matematik_yanlis,matematik_net,fen_dogru,fen_yanlis,fen_net,toplam_dogru,toplam_yanlis,toplam_net
0,13,1,"12,67",7,3,"6,00",10,0,"10,00",9,...,"8,67",15,0,"15,00",15,0,"15,00",69,5,"67,33"
1,15,0,"15,00",9,1,"8,67",10,0,"10,00",5,...,"3,33",14,1,"13,67",14,1,"13,67",67,8,"64,33"
2,13,2,"12,33",8,2,"7,33",9,1,"8,67",10,...,"10,00",14,1,"13,67",15,0,"15,00",69,6,"67,00"
3,15,0,"15,00",7,3,"6,00",10,0,"10,00",8,...,"8,00",13,0,"13,00",13,2,"12,33",66,5,"64,33"
4,13,0,"13,00",9,1,"8,67",10,0,"10,00",9,...,"8,67",13,1,"12,67",13,0,"13,00",67,3,"66,00"

In [49]:
#Boş değeri sütunda kendisinden sonra gelen değerle doldurmak için
ders_verileri.fillna(method='bfill', axis=0)

/tmp/ipython-input-3744067920.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ders_verileri.fillna(method='bfill', axis=0)

,turkce_dogru,turkce_yanlis,turkce_net,sosyal_bilgiler_dogru,sosyal_bilgiler_yanlis,sosyal_bilgiler_net,din_kulturu_dogru,din_kulturu_yanlis,din_kulturu_net,yabanci_dil_dogru,...,yabanci_dil_net,matematik_dogru,matematik_yanlis,matematik_net,fen_dogru,fen_yanlis,fen_net,toplam_dogru,toplam_yanlis,toplam_net
0,13,1,"12,67",7,3,"6,00",10,0,"10,00",9,...,"8,67",15,0,"15,00",15,0,"15,00",69,5,"67,33"
1,15,0,"15,00",9,1,"8,67",10,0,"10,00",5,...,"3,33",14,1,"13,67",14,1,"13,67",67,8,"64,33"
2,13,2,"12,33",8,2,"7,33",9,1,"8,67",10,...,"10,00",14,1,"13,67",15,0,"15,00",69,6,"67,00"
3,15,0,"15,00",7,3,"6,00",10,0,"10,00",8,...,"8,00",13,0,"13,00",13,2,"12,33",66,5,"64,33"
4,13,0,"13,00",9,1,"8,67",10,0,"10,00",9,...,"8,67",13,1,"12,67",13,0,"13,00",67,3,"66,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,12,2,"11,33",4,5,"2,33",7,3,"6,00",6,...,"4,67",11,1,"10,67",9,6,"7,0","49,00","21,00","42,0"
333,10,5,"8,33",7,3,"6,00",7,3,"6,00",4,...,"2,33",11,3,"10,00",11,4,"9,7","50,00","23,00","42,3"
334,12,3,"11,00",6,4,"4,67",8,2,"7,33",6,...,"4,67",11,4,"9,67",8,6,"6,0","51,00","23,00","43,3"
335,13,2,"12,33",5,5,"3,33",6,4,"4,67",5,...,"3,33",9,6,"7,00",12,3,"11,0","50,00","25,00","41,7"
336,11,4,"9,67",5,5,"3,33",8,2,"7,33",5,...,"3,33",9,6,"7,00",11,4,"9,7","49,00","26,00","40,3"

In [ ]:
# 1. NaN değerlerini kendisinden hemen sonra gelen değerle doldur (method='bfill')
# 2. Hala NaN kalan yerleri ( en sonda olup arkasında veri olmayanlar) 0 ile doldur
veri.fillna(method='bfill', axis=0).fillna(0)

In [30]:
#Sütunda bulunan benzersiz değerleri öğrenmek için

subeler = veri['sube'].unique()
subeler

array(['b', 'a', 'c', 'd'], dtype=object)

In [41]:
#Sütunda bulunan değerin önünde ve arkasındaki boşlukları kaldırmak için

veri['sube'] = veri['sube'].str.strip()
veri['sube'].unique()

array(['B', 'A', 'C', 'D'], dtype=object)

In [39]:
#istemediğimiz bir şuba adını düzelmek için 0 ı D yapmak için

veri['sube'] = veri['sube'].replace('0', 'D')

veri['sube'].unique()

array(['B', 'A', 'C', 'D', ' B', ' C', ' A', ' D'], dtype=object)

In [40]:
# Şube sütunu '0' olmayan satırları tut (yani '0' olanları sil)
veri = veri[veri['sube'] != '0']

# Kontrol için
print(veri['sube'].unique())

['B' 'A' 'C' 'D' ' B' ' C' ' A' ' D']

In [37]:
#istenilen sütundaki değerleri küçük harfe dönüştürmek isteseydim

veri['sube'] = veri['sube'].str.lower()
veri['sube'].unique()

array(['b', 'a', 'c', 'd'], dtype=object)

In [ ]:
#import fuzzywuzzy paketi ilke birbirine benzeyen metinleri birleştirebilriz
# Örneğin south korea southkorea yı birleştirebilriliz.